@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Travel Cleveland</h1>
    <iframe width="830" height="400" src="https://www.youtube.com/embed/DMbI5cwIXFw" frameborder="0" allowfullscreen></iframe>
    <p><a href="#About" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Hyatt</h2>
        <iframe width="280" height="315" src="https://www.youtube.com/embed/QEp-Ydcd818" frameborder="0" allowfullscreen></iframe>
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Check Out Reviews Here &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Renaissance</h2>
        <iframe width="280" height="315" src="https://www.youtube.com/embed/z755BHgiA3s" frameborder="0" allowfullscreen></iframe>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Check Out Reviews Here &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Wyndam</h2>
        <iframe width="280" height="315" src="https://www.youtube.com/embed/Qj21dduPl58" frameborder="0" allowfullscreen></iframe>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Check Out Reviews Here &raquo;</a></p>
    </div>
</div>